@using ofCourse.Models
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detail</h2>

<p>@Model.CourseName</p>
<p>Tutor: @Model.TutorName</p>
<p>@Model.CourseDescription</p>