@using ofCourse.Controllers
@model IEnumerable<ofCourse.Models.Student>
@{
    ViewBag.Title = "StudentList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Student List</h2>



@if (!Model.Any())
{
    <text>we don't have any students yet</text>
}
else
{
    <table class="table table-bordered table-hover">
        <tr>
            <th>Detail</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Registration Cost</th>
        </tr>
        @foreach (var student in Model)
        {
            <tr>
                <td>@Html.ActionLink("View", "Detail", "Students", new { id = student.Id }, student.Id) |
                    @Html.ActionLink("Edit", "Edit", "Students", new { id = student.Id }, student.Id)</td>
                <td>@student.FirstName</td>
                <td>@student.LastName</td>
                <td>$@student.EnrollmentType.RegistrationCost</td>
            </tr>
        }
    </table>
}

@using (Html.BeginForm("New", "Students"))
{
    <button type="submit" class="btn btn-primary">Add New Student</button>
}